body{
    background-color: aquamarine;
}
h1{
    color: blanchedalmond;
}
h2, p{
    color: beige;
}
h4{
    color: beige;
}
td{
    color: aqua;
}
hr{
    color: aqua;
}
.carousel-item img{
    height: 750px;
}

.box{
    display: flex;
}